---
import Layout from '../../layouts/Layout.astro'
import { ProxyExplained } from '../../test/ProxyExplained'
---

<Layout title="Test page for get started checklist">
  <div class="dark:bg-gray-400">
    <div class="flex flex-col items-center justify-center h-screen">
      <ProxyExplained />
    </div>
  </div>
</Layout>
